<html>
    <head>
        <title>
            Formulário
        </title>
    </head>
</html>
<body>
    <form action="/ola" method="get"></form>
    <label>Diga seu nome</label>
    <input type="text" name="nome">
    <input type="submit">
</body>