<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>

<body>
    <h1>Cadastro</h1>
    <form action="/salvar">
        <label for="nome"></label>
        <input type="text">
        <br><br>
        <input type="submit">
        <br><br>
        <%= resultado %>

    </form>

    </ul>
</body>

</html>